{% load static %}
{% include 'header.html' %}
{% include 'sidebar.html' %}

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h1><p align="center" class="text-info bg-dark">ABOUT</p></h1></br></br>
        <div class="row">
          <div class="col-md-6">
            <p align="justify">It is a social media platform with a focus on fostering a supportive community for disabled individuals which can provide a space for impaired individuals to share their experiences, and stories, and support one another. </p>
            <p align="justify">It goes beyond typical social networking by including a comprehensive resource hub, that provides links to resources, support organizations, and educational content related to impaired issues. Also, allows users to create and promote events, discussions, or awareness campaigns related to rights and equality.</p>
          
          </div>
          <div class="col-md-6">
            <img src="{% static 'images/feat2.png' %}"  style="width:100%">
          </div>
        </div>
       
      </div>
		</div>

   {% include 'footer.html' %}