{% load static %}
{% include 'header.html' %}
{% include 'sidebar.html' %}
<!-- Page Content  -->
<div style="background-color:rgb(216, 240, 253)" id="content" class="p-4 p-md-5 pt-5">
    <h1><p align="center" class="text-info bg-dark">EXPLORE</p></h1></br></br>
<blockquote class="twitter-tweet"><p lang="zxx" dir="ltr"><a href="https://t.co/ScbmofGBwa">https://t.co/ScbmofGBwa</a></p>&mdash; Disability Awareness (@The_CDA) <a href="https://twitter.com/The_CDA/status/1767911518824243303?ref_src=twsrc%5Etfw">March 13, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Employee Benefits to Adopt in 2024: Why Reinventing Benefit Strategies is Crucial to Keeping Up <a href="https://t.co/MhypsxNXy3">https://t.co/MhypsxNXy3</a></p>&mdash; Disability Awareness (@The_CDA) <a href="https://twitter.com/The_CDA/status/1767911469415293408?ref_src=twsrc%5Etfw">March 13, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">World first as teenage boy is cured of deadly brain cancer<a href="https://t.co/fNKKymjajM">https://t.co/fNKKymjajM</a></p>&mdash; Disability Awareness (@The_CDA) <a href="https://twitter.com/The_CDA/status/1767911686814503340?ref_src=twsrc%5Etfw">March 13, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
      
    
</div>

{% include 'footer.html' %}