{% load static %}
{% include 'header.html' %}
{% include 'sidebar.html' %}
<!-- Page Content  -->
<div id="content" class="p-4 p-md-5 pt-5">
    <h1><p align="center" class="text-info bg-dark">JOB</p></h1></br></br>
<div class="card-group">

  {% for a in job_list %}
    <div class="card">
      <img src="{{ a.job_pic.url }}" class="card-img-top" title="{{ a.job_title }}"/>
      <div class="card-body">
        <h5 class="card-title" align="center">{{ a.job_title }}</h5>
        <a class="btn btn-primary" href="/job_details/{{ a.id }}">Click to view</a>
      </div>
    </div>
    {% endfor %}



    
  {% include 'footer.html' %}