{% load static %}
{% include 'header.html' %}
{% include 'sidebar.html' %}
<!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h1><p align="center" class="text-info bg-dark">RESOURCES</p></h1></br></br>
          <div class="row">
             <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title">
                      <p class="card-text">Deaf Short Film Festival 2019 – Cultural Awareness and Fashion Model </p>
                      </h4>
                      <a href="https://enabled.in/wp/disability-events/deaf-short-film-festival-2019-cultural-awareness-and-fashion-model/" class="btn btn-primary">Click to view</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">

                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title">
                      <p class="card-text">Two day workshop on Audio Description – Describe ability by Joel Synder, USA</p>
                      </h4>
                      <a href="https://enabled.in/wp/two-day-workshop-on-audio-description-describability-by-joel-synder-usa/" class="btn btn-primary">Click to view</a>
                    </div>
                  </div>
                  
            </div>
            <div class="col-md-4">

                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title">
                      <p class="card-text">12th Wheelchair Fencing National Championships</p>
                      </h4>
                      <a href="https://enabled.in/wp/12th-wheelchair-fencing-national-championships/" class="btn btn-primary">Click to view</a>
                    </div>
                  </div>
                  
            </div>
      </div>
        <br>
        <div class="row">
            <div class="col-md-4">

                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title">
                      <p class="card-text">Run for Wheels Marathon 2019 – Sittruli Foundation</p>
                      </h5>
                      <a href="https://enabled.in/wp/run-for-wheels-marathon-2019-sittruli-foundation/" class="btn btn-primary">Click to view</a>
                    </div>
                  </div>

            </div>
            <div class="col-md-4">

                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title">
                      <p class="card-text">3rd National wheelchair Rugby Championship 2019.</p>
                      </h4>
                      <a href="https://enabled.in/wp/3rd-national-wheelchair-rugby-championship-2019/" class="btn btn-primary">Click to view</a>
                    </div>
                  </div>
                  
            </div>
            <div class="col-md-4">

                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title">
                      <p class="card-text">Inclusion Walkathon 2019-Joy of walking with a buddy</p>
                      </h5>
                      <a href="https://enabled.in/wp/inclusion-walkathon-2019-joy-of-walking-with-a-buddy/" class="btn btn-primary">Click to view</a>
                    </div>
                  </div>
                  
            </div>
        </div>

        </div>
		</div>

   {% include 'footer.html' %}