{% load static %}
<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-secondry">
</button>
</div>
  <div class="img bg-wrap text-center py-4" style="background-image: url({% static 'images/image2.jpg' %});">
      <div class="user-logo">
          <div class="img"></div>
          <h3><b><font color="yellow">Swift-Socials</font></b></h3>
      </div>
  </div>
<ul class="list-unstyled components mb-5">
<li class="active">
<a href="/dashboard"><span class="fa fa-home mr-3"></span> Home</a>
</li>
<li>
  <a href="/about"><span class="fa fa-download mr-3"></span> About Us</a>
</li>
<li>
    <a href="/event"><span class="fa fa-hourglass mr-3"></span> Events</a>
</li>
<li>
    <a href="/resources"><span class="fa fa-trophy mr-3"></span>Resources</a>
</li>
<li>
<a href="/explore"><span class="fa fa-gift mr-3"></span>Explore</a>
</li>
<li>
    <a href="/job"><span class="fa fa-user-circle-o mr-3"></span>Job</a>
</li>
<li>
    <a href="/donate"><span class="fa fa-heart-o mr-3"></span>Donate</a>
</li>
<li>
<a href="/contact"><span class="fa fa-phone-square mr-3"></span>Contacts</a>
</li>
<li>
    <a href="/team"><span class="fa fa-heart-o mr-3"></span>MYTEAM</a>
</li>
<li>
<a href="/signup"><span class="fa fa-sign-out mr-3"></span> LOG Out</a>
</li>
</ul>
</nav>